<div class="p-5">
<table class="table">
    <thead>
      <tr>
        <th >#</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>CategoryID</th>
        <th>Image</th>
        <th>Count</th>
        <th>Buy</th>
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let product of products" >
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}} $</td>
            <td>{{product.categoryID}}</td>
            <td><img [src]="product.imgURL" alt=""></td>
            <td><input #itemsCount type="number" class="form-control"></td>
            <td><button type="button" class="btn btn-secondary" (click)="buy(product.id, itemsCount.value)" >Buy</button></td>

        </tr>
    </tbody>
  </table>


</div>